*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.calculator{
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display-screen{
    width: 100%;
    background-color: white;
    padding: 20px 2px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.buttons{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

button{
    border-radius: 5px;
    background-color: white;
    padding: 12px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.operator{
    background-color: aqua;
}

.red{
    background-color: red;
    color: white;
}

.absolute-top-z-h-screen-w-screen-bg {
    position: absolute;
    top: 0;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 1px, rgba(0, 9, 29, 0.2) 1px);
    background-size: 20px 20px;
  }